body {
	color:#29221F;

header {
	width:500px;
	height:300px;
	background-color:#0ABFBC;
	margin: 0 auto;
	
	h1 {
		font-family:Verdana;
		font-size: 30px;
	}
	
	h2 {
		font-family:Verdana;
		font-size:20;
	}
}//header closing
}//body closing